/**
 * Frontend styles for the Expand Block.
 *
 * Enqueued in the editor & frontend.
 */

@import "common";

.lmb-expand.lmb-expand--v2 {
	.lmb-expand__title,
	.lmb-expand__less-text,
	.lmb-expand__more-text {
		margin: 0 0 $text-margin-bottom 0;
	}
	.lmb-expand__more-toggle-text,
	.lmb-expand__less-toggle-text {
		display: inline-block;
	}
}

.lmb-expand.lmb-expand--more {
	.lmb-expand__less-text,
	.lmb-expand__more-toggle-text {
		display: none;
	}
	.lmb-expand__more-text {
		display: block !important;
	}
	.lmb-expand__less-toggle-text {
		display: inline-block !important;
	}
}
