@import "common";

[data-type^="lmb/"][data-align="full"] {
	> * > .lmb-main-block {
		&.lmb--has-block-background {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 70px;
			padding-bottom: 70px;

			&.lmb-main-block--inner-center {
				@media screen and (min-width: $break-large) {
					> .lmb-inner-block {
						max-width: var(--content-width);
					}
				}
			}
			&.lmb-main-block--inner-wide {
				@media screen and (min-width: $break-wide) {
					> .lmb-inner-block {
						max-width: 1200px;
					}
				}
			}
			&.lmb-main-block--inner-full {
				> .lmb-inner-block {
					width: 100%;
				}
			}
		}
	}
}
