.lmb-four-number-control__wrapper {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 1fr 1fr 1fr 1fr min-content;
	align-items: flex-start;
	button {
		padding: 6px !important;
		&.lmb--is-locked,
		&.lmb--is-locked:hover {
			background: #aaa !important;
			color: #fff !important;
		}
	}
}
.lmb-four-number-control__label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	span {
		font-size: 9px;
		opacity: 0.8;
	}
	input {
		margin: 0;
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
		&[disabled] {
			background: #e5e4e8;
			cursor: not-allowed;
		}
	}
}
